streamlit
transformers
matplotlib
tiktoken
openai
python-dotenv
scikit-learn
langchain
faiss-cpu
plotly
seaborn
yfinance
langchainhub
langchain-experimental
langchain-openai
tabulate
arxiv
docx
python-docx